* {
    
    font-family: "HelveticaNeue-Light";
}

body{
  background-color: #F9F9F9;
}

#time {
text-align: right;
}
table{
  border-spacing: 0;
}
th
{
border-bottom:1px solid #C595B8;
font-weight: bold;
background-color: #F8DA63;
margin: 0;

}
td{
  text-align: center;
  font-weight: normal;
  background-color: #F8DD92;

}
table
{
width:100%;

}

label{
  float: left;
  margin-top: 6px;
}



form{
    margin: 0 auto;
    width: 800px;
}



input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #1F89BA;
    height: 7px;
    margin-left: 6em;
    padding: 10px;
    width: 191px;
            font-size: 110%;

}

input[type=password]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #1F89BA;
    height: 7px;
                font-size: 110%;
    padding:10px;
    width: 191px;
    margin-left: 6em;
    
}

input[type=submit]

{    
  
 


  margin-left: 175px;
    width: 215px;

{    margin-left: 5.5em;

    background-color: #000;
        border:solid 0px #000;
        font-size: 120%;
    color: #000;
    height: 30px;
    width: 214px;
    color: #bbbbbb;
}

}





textarea #mainTextArea {
      border:groove 0.4em;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    height: 4em;
    text-align: center;
}



h2 {
padding: 2px;

}

#highlight {

}

p {
color: #808080;
}



header {
   position:  relative;
   height: 200px;
  text-align: left;
  width: 36em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer { 
   border-top: 2px solid #AFAFB1;
   min-height:50px;
   margin-top: 350px !important;

}

a {
    text-decoration: none;
    color: #1F89BA;
}
a:hover {
         color: #1F89BA;
}
header #navigationBar {
   position: absolute;
   top: 100px;
   width: 100%;
   border-bottom: 3px solid #AFAFB1;
   

}

#mainTitle {
text-align: center;
font-size: 400%;
<<<<<<< HEAD
color: #AD2F2B;
}
=======
font-family: "HelveticaNeue-Light";}
>>>>>>> origin/master


#menu {
         
   height: 36px;
   margin: 0;
   
   
}

#menu li {
   position: relative;
   list-style: none;
   height: 36px;
   margin-left: 2px;
   float: left;
}

#menu > li.actual {
   border-bottom: 6px solid #1F89BA;
   
}


#menu li a {
   
   padding: 0.7em;
   margin: 0;
   line-height: 36px;
  text-decoration: none;
  font-size: 20px;
   color: #AFAFB1;  
}

#menu li:hover > a { color: #1F89BA; }

.inputfield {
  padding: 10px;
<<<<<<< HEAD
 
}



.action_btn{
 border-radius: 15px;
 padding: 13px;
 color: #F9F9F9;
  border: 1px solid;
}

.create{
  background-color: #52BB44;
  border-color: #52D444;
  margin-top: 10px;
}

.create:hover{
  background-color: #41AA33;
  border-color: #52D444;
  color:#F9F9F9;
}

.update{
 background-color: #85AD5E;
  border-color: #6FB24F;
    
}

.update:hover{
 background-color: #74AC4D;
  border-color: #6FB24F;
  color:#F9F9F9;
    
}

.delete{
 background-color: #C44033;
  border-color: #C45033;
  cursor: pointer;
  
}

.delete:hover{
 background-color: #B33022;
  border-color: #C45033;
    color:#F9F9F9;
}

.view{
  background-color: #5494AB;
  border-color: #5FA8C2;


}


.view:hover{
  background-color: #4383AA;
  border-color: #5FA8C2;
color:#F9F9F9;

}

.login{
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

.register{
    margin-left: auto;
  margin-right: auto;
  width:450px;
}

h2,h4{
 text-align: center;color:#5FAB5D;
}

.view_panel{
  margin: 0 auto;
  width: 500px;
}

.details{
  margin-left: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  overflow: auto;
}

.cu{
  margin: 0 auto;
  width: 400px;
}

.search{
  margin-top: 10px!important;
  padding: 10px!important;
  position: relative!important;
  top:10px!important;
  float: right!important;
  cursor: pointer!important;

}
.comment{

  height: 200px;
  width:500px;
  margin:10px auto; 

}

.comment_content{
  margin: 10px auto ;
  background-color: #CEE7FF;   
}

